<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/game.css') }}">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El juego del Mago Goma</title>
</head>
<body>
    <div class="game-container">
        <div class="logo-container">
            <div class="sorta-block">
              <div data-text="El juego del"class="dashed-shadow sorta">El juego del</div> 
            </div>
            <span data-text="Mago Goma" class="dashed-shadow hello">Mago Goma</span>
        </div>
        <div class="words-wrapper">
            <div class="words">
                <div class="container">
                    <div class="odd">{{word}}</div>
                </div>
            </div>
            <div class="small-hint">
                <p>Hacé click sobre la palabra para ver su significado!</p>
            </div>
        </div>
        <form action="" class="game-form" method="post">
            <input id="word" class="input-word dashed-shadow" name="word" type="text" placeholder="Ingresá una palabra para jugar">
            <input id="send" class="send-btn" type="submit" value="Enviar palabra">
            <input id="bullshit" class="bullshit-btn" type="submit" value="Desconfio">
        </form>
        <div class="cpu-bullshit">
            <div class="cpu-message" id="msg"></div>
        </div>
        <div class="game-over-wrapper">
            <div class="game-over-title">Fin del juego!</div>
            <div class="game-over-result">Acá iría la razón</div>
            <button class="game-over-btn" id="game-over">Volver a jugar</button>
        </div>
        <div class="score">
            Puntaje: 
            <div id="score-val">0</div>
        </div>
        <div class="word-definition">
            <span id="close-definition" class="close-definition-btn">Cerrar</span>
            <div id="definition"></div>
        </div>

    </div>
    
</body>
<script type="text/javascript" src="{{url_for('static',filename='../static/game.js')}}"></script>
</html>


